<app-nav-bar></app-nav-bar>
<div class="container mt-5">
  <div *ngIf="!issues" class="loader">Loading...</div>

  <div *ngIf="issues" class="response-table card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;" style="background-color: #8ed8f8;">
      <h4 class="card-title mt-3 text-center">Request History</h4>
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Report Number</th>
            <th>Condition</th>
            <th>Service</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let issue of issues">
            <td>{{ issue.id }}</td>
            <th>{{ issue.creationdate | date }}</th>
            <td>{{ issue.reportnumber }}</td>
            <td>{{ issue.status }}</td>
            <td> {{ issue.service }}</td>
            <td class="text-center">
              <a class="btn btn-outline-info" (click)="issueDetail(issue.id)"> <i class="fa fa-folder"></i> </a>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
  </div>
</div>
