<article class="mb-3" style="background-color: #8ed8f8;">
  <div class="card-body text-center">
    <h3 class="text-white mt-3 blk"> Sing up </h3>
  </div>
  <br><br>
</article>

<div class="container">
  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;" style="background-color: #8ed8f8;">
      <h4 class="card-title mt-3 text-center"></h4>
      <hr>
      <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="createUser()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input id="name" class="form-control" formControlName="name" name=""
            placeholder="Name *" type="text">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input formControlName="firstsurname" id="firstsurname" name=""
            class="form-control" placeholder="Surname *" type="text">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input formControlName="secondsurname" id="secondsurname"  name=""
            class="form-control" placeholder="Second surname *" type="text">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-address-book"></i> </span>
          </div>
          <input formControlName="address" id="address" name="" class="form-control"
            placeholder="Adress *" type="text">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
          </div>
          <input formControlName="email" id="email" name="" class="form-control"
            placeholder="Email *" type="email">
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 120px;">
            <option value="1">+506</option>
          </select>
          <input formControlName="phone" id="phone" name="" class="form-control"
            placeholder="Principal contact *" type="number" min="0" required>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 120px;">
            <option value="1">+506</option>
          </select>
          <input formControlName="secondcontact" id="secondcontact"  name=""
            class="form-control" placeholder="Second contact " type="number" min="0" required>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input formControlName="password" id="password" class="form-control"
            placeholder="Create password *" type="password">
        </div>

        <div class="form-group input-group">
          <label for="">Select our services:</label>
          <hr>
        </div>

        <div class="form-group input-group">

          <div class="form-check m-1">
            <input formControlName="telephone" class="form-check-input" type="checkbox" id="telephone">
            <label class="form-check-label" for="telephone">
              Phone
            </label>
          </div>
          <div class="form-check m-1">
            <input formControlName="mobilephone" class="form-check-input" type="checkbox" id="mobilephone">
            <label class="form-check-label" for="mobilephone">
              Cell phone
            </label>
          </div>

          <div class="form-check m-1">
            <input formControlName="television" class="form-check-input" type="checkbox" id="television">
            <label class="form-check-label" for="television">
              TV
            </label>
          </div>

          <div class="form-check m-1">
            <input formControlName="internet" class="form-check-input" type="checkbox" id="internet">
            <label class="form-check-label" for="internet">
              Internet
            </label>
          </div>
          
          
          <div *ngIf="!serviceValid" class="form-check m-1 btn btn-outline-danger">
            Select at least one service
          </div>
        </div>


        <hr>
        <div class="form-group">
          <button type="submit" class="btn btn-info btn-block" style="background-color: #0b4368;"> Sing up </button>
        </div>
        <p class="text-center">Already have an Account?<a href="" routerLink="/login">Log in</a> </p>
      </form>
    </article>
  </div>
</div>
